# yaml-language-server: $schema=./src/winconfig/resources/builtin.definition.schema.json

- name: OpenWithCode
  description: Add the "Open with Code" item to context menu
  registries:
    - path: HKCR\*\shell\VSCode
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: String
          old_value: <NotExist>
          new_value: "Open with Code (&Q)"
        - name: Icon
          type: ExpandString
          old_value: <NotExist>
          new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
    - path: HKCR\*\shell\VSCode\command
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: ExpandString
          old_value: <NotExist>
          new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""

    - path: HKCR\directory\shell\VSCode
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: String
          old_value: <NotExist>
          new_value: "Open with Code (&Q)"
        - name: Icon
          type: ExpandString
          old_value: <NotExist>
          new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
    - path: HKCR\directory\shell\VSCode\command
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: ExpandString
          old_value: <NotExist>
          new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""

    - path: HKCR\directory\background\shell\VSCode
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: String
          old_value: <NotExist>
          new_value: "Open with Code (&Q)"
        - name: Icon
          type: ExpandString
          old_value: <NotExist>
          new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
    - path: HKCR\directory\background\shell\VSCode\command
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: ExpandString
          old_value: <NotExist>
          new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""

    - path: HKCR\drive\shell\VSCode
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: String
          old_value: <NotExist>
          new_value: "Open with Code (&Q)"
        - name: Icon
          type: ExpandString
          old_value: <NotExist>
          new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
    - path: HKCR\drive\shell\VSCode\command
      old_existance: <NotExist>
      new_existance: <Exist>
      entries:
        - name: (default)
          type: ExpandString
          old_value: <NotExist>
          new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""
