# yaml-language-server: $schema=../src/winconfig/resources/builtin.definition.schema.json

Personalization:
  OpenWithCode:
    description: Add the "Open with Code" item to context menu
    registries:
      - path: HKCR\*\shell\VSCode
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: String
            new_value: "Open with Code (&Q)"
            old_value: <NotExist>
          - name: Icon
            type: ExpandString
            new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
            old_value: <NotExist>
      - path: HKCR\*\shell\VSCode\command
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: ExpandString
            new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""
            old_value: <NotExist>

      - path: HKCR\directory\shell\VSCode
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: String
            new_value: "Open with Code (&Q)"
            old_value: <NotExist>
          - name: Icon
            type: ExpandString
            new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
            old_value: <NotExist>
      - path: HKCR\directory\shell\VSCode\command
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: ExpandString
            new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""
            old_value: <NotExist>

      - path: HKCR\directory\background\shell\VSCode
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: String
            new_value: "Open with Code (&Q)"
            old_value: <NotExist>
          - name: Icon
            type: ExpandString
            new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
            old_value: <NotExist>
      - path: HKCR\directory\background\shell\VSCode\command
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: ExpandString
            new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""
            old_value: <NotExist>

      - path: HKCR\drive\shell\VSCode
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: String
            new_value: "Open with Code (&Q)"
            old_value: <NotExist>
          - name: Icon
            type: ExpandString
            new_value: "%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe"
            old_value: <NotExist>
      - path: HKCR\drive\shell\VSCode\command
        new_existance: <Exist>
        old_existance: <NotExist>
        entries:
          - name: (default)
            type: ExpandString
            new_value: "\"%LocalAppData%\\Programs\\Microsoft VS Code\\Code.exe\" \"%V\""
            old_value: <NotExist>

  EditMouseSensitivity:
    description: Set mouse sensitivity
    registries:
      - path: HKCU\Control Panel\Mouse
        entries:
          - name: MouseSensitivity
            type: DWord
            new_value: "12"
            old_value: "10"

  EditWindowsPATH:
    description: Edit windows path
    script:
      apply: |-
        $gitPath = "C:\Program Files\Git\bin"
        $oldPath = [Environment]::GetEnvironmentVariable("Path", "User").Split(';')
        if (-not ($oldPath -contains $gitPath)) {
          $newPath = ($oldPath + $gitPath) -join ';'
          [Environment]::SetEnvironmentVariable("Path", $newPath, "User")
        }
      revert: |-
        $gitPath = "C:\Program Files\Git\bin"
        $oldPath = [Environment]::GetEnvironmentVariable("Path", "User").Split(';')
        if ($oldPath -contains $gitPath) {
          $newPath = ($oldPath | ? { $_ -ne $gitPath }) -join ';'
          [Environment]::SetEnvironmentVariable("Path", $newPath, "User")
        }
