name: Generate Release Note

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: "version v*.*.*"
        required: true
        type: string
      dry_run:
        description: "--dry-run"
        required: false
        default: "false"
        type: choice
        options:
          - "false"
          - "true"

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release_note:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: extractions/setup-just@v3
      - run: just pyinstaller
      - name: Extract Changelog
        shell: pwsh
        run: |
          if ("${{ github.event_name }}" -eq "workflow_dispatch") {
            $tag = "${{ github.event.inputs.version }}"
          } else {
            $tag = "${{ github.ref_name }}"
          }
          $version = $tag.Substring(1)

          $content = Get-Content CHANGELOG.md -Raw
          $matchInfo = ($content | Select-String "(?m)^## \[${version}\][\s\S]*?(?=^## |\z)")

          $matchInfo.Matches.Value.TrimEnd("`r", "`n") | Tee-Object release-note-body.md | Out-Null

      - name: Create GitHub Release
        if: (github.event.inputs.dry_run || 'false') == 'false'
        shell: pwsh
        run: |
          if ("${{ github.event_name }}" -eq "workflow_dispatch") {
            $tag = "${{ github.event.inputs.version }}"
          } else {
            $tag = "${{ github.ref_name }}"
          }

          gh release create $tag `
            dist/winconfig.exe `
            --notes-file release-note-body.md `
            --title $tag
